:root{
    --main-color: black;
    --second-color: #ffe54c;
    --rLinkColor: #222;
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

/* CSS */

nav {
    background-color: white;
}

.customButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  color: var(--main-color);
  text-transform: uppercase;
  text-decoration: none;
}

.customButton:hover{
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);

}

/* search button navbar */

.searchBtn {
  align-self: center;
  background-color: var(--second-color);
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.searchBtn:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.searchBtn:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.form-control:focus{
    border-color: var(--main-color);
    box-shadow: var(--main-color);
    
}

.navbar {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

/* custom h1 */

.r-link{
	display: var(--rLinkDisplay, inline-flex) !important;
}

.r-link[href]{
	color: var(--rLinkColor) !important;
	text-decoration: var(--rLinkTextDecoration, none) !important;
}

.text-underlined{
--uiTextUnderlinedLineHeight: var(--textUnderlinedLineHeight, 2px); /* 1 */
--uiTextUnderlinedLineGap: var(--textUnderlinedLineGap, .5rem);
--uiTextUnderlinedPaddingBottom: calc(var(--uiTextUnderlinedLineHeight) + var(--uiTextUnderlinedLineGap));
padding-bottom: var(--uiTextUnderlinedPaddingBottom) !important;
position: var(--textUnderlinedPosition, relative) !important;
z-index: var(--textUnderlinedZindex, 1) !important;}


.text-underlined::after{
content: "";
width: var(--textUnderlinedLineWidht, 100%) !important;
height: var(--uiTextUnderlinedLineHeight) !important;
background-image: var(--textUnderlinedBackgroundImage, linear-gradient(to top, var(--textUnderlinedLineColor, currentColor) 30%, rgba(255, 255, 255, 0) 45%)) !important; /* 1 */        
position: absolute;
left: var(--textUnderlinedLineLeft, 0) !important;
bottom: var(--textUnderlinedLineBottom, 0) !important;
z-index: var(--textUnderlinedLineZindex, -1) !important;}

.link{
--textUnderlinedLineHeight: 100%;
--textUnderlinedLineGap: 0;
--textUnderlinedLineColor: var(--second-color);
padding-left: .75rem;
padding-right: .75rem;
 }

 .link::after{
will-change: width;
transition: width .1s ease-out;
transform: rotate(-2deg);
transform-origin: left bottom;
}

.link:hover{
	--textUnderlinedLineWidht: 0;
}

.link:hover::after{
	transition-duration: .15s;
}

.link{
	font-weight: 500;
	text-transform: uppercase;
}

.link:focus{
	outline: 2px solid var(--second-color);
	outline-offset: .5rem;
}

/* HEADER */


.mainHeader {
    height: 100vh;
    padding-top: 50px;
}


.mainHeaderAnnunci {
    height: 30vh;
    padding-top: 50px;
}

h1{
    font-size: 50px;
    letter-spacing: 2px;
}

body {
    background-color: #f0f0f0;
}

.searchBar {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    height: 15vh;
    width: 70%;
    margin-bottom: 30px;
    position: relative;
    background-color: white;

}

.searchBarIcon {
 padding: 20px;
}

.searchBarText {
    margin: none;
    padding-right: 20px;
}


.categoryBtn {

    align-self: center;
    background-color: var(--second-color);
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    display: inline-block;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    touch-action: manipulation;
    padding: 20px;

}

.searchBarInput {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: #f8f4e5;
    height: 40px;
}

.searchBarInput:focus, textarea:focus {
    border-color: transparent;
    box-shadow: none;
}

.searchBarInput:focus-visible, textarea:focus-visible {
    border-color: transparent;
    box-shadow: none;
}

.dropdown-menu {
    background-color: #f8f4e5;
}

.input-group-text {
    border: 0.5px solid black;
    background-color: var(--second-color);
}







/* sections of homepage */


.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

h1:first-of-type {
    font-weight: var(--weight1);
    color: var(--varyDarkBlue);

}

h1:last-of-type {
    color: var(--varyDarkBlue);
}


.sectionHeader {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 80px;
}

.box p {
    color: var(--grayishBlue);
}

.box {
    border-radius: 5px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 30px;
    margin: 20px; 
    background-color: white; 
}

.sectionImg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding: 10px;
}

.sectionBtn {
    align-self: center;
    background-color: var(--second-color);
    background-image: none;
    background-position: 0 90%;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    touch-action: manipulation;
    margin-left: 30px;
    
}

.sectionBtn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
.sectionBtn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }


.cyan {
    border-top: 5px solid var(--cyan);
}
.red {
    border-top: 5px solid var(--red);
}
.blue {
    border-top: 5px solid var(--blue);
}
.orange {
    border-top: 5px solid var(--orange);
}



/* ULTIMI ANNUNCI */

.sectionAnnunci {

    text-align: center;
    line-height: 0.8;
    margin-bottom: 80px;
    margin-top: 80px;

}

.annunciBox {
    width: 260px;
    text-align: center;
    padding: 20px;
    display: inline-block;
  }

.img-container {
      height: 230px;
      width: 200px;
      overflow: hidden;
      border-radius: 0px 0px 20px 20px;
      display: inline-block;
  }
  
.img-container img {
      height: 250px;
  }
  
.inner-skew {
      border-radius: 20px;
      overflow: hidden;
      padding: 0px;
      margin: 30px 0px 0px 0px;
      background: #c8c2c2;
      height: 250px;
      width: 200px;
  }
  
.text-container {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    background: #fff;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
  }
  
.text-container h3 {
    margin: 20px 0px 10px 0px;
    color: var(--varyDarkBlue);
    font-size: 18px;
  }

h5 {
    font-size: 13px;
    color: var(--varyDarkBlue);
}

.annuncioBtn {
    align-self: center;
    background-color: var(--second-color);
    background-image: none;
    background-position: 0 90%;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    touch-action: manipulation;
  }

.annuncioBtn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
.annuncioBtn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }

.containerAnnunci {
    margin-bottom: 80px;
}


/* SWIPER */

.swiper {
    width: 85%;
    height: 500px;
    /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 30px; */
    /* background-color: #f8f4e5; */
  }

.swiper-slide{
      width: 25%;
  }



.btnPrev {
    color: var(--varyDarkBlue);
}

.btnNext {
    color: var(--varyDarkBlue);
}

.btnPrev:focus {
    border-color: transparent;
    box-shadow: none;
}

.btnNext:focus{
    border-color: transparent;
    box-shadow: none;
}


.sectionLavoro {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 80px;
    margin-top: 80px;
    padding-top: 50px;
}


/* form section */

.formContainer {

    width: 80%;
    height: 80%;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    

}

.labelForm, .inputForm, textarea {
  display: block;
  width: 100%;
  font-size: 12pt;
  line-height: 24pt;
}

.inputForm {
  margin-bottom: 24pt;
}

.formTitle {
  font-weight: normal;
  font-size: 10pt;
  line-height: 24pt;
  font-style: italic;
  margin: 0 0 0.5em 0;
}

span {
  font-size: 8pt;
}

em {
  color: black;
  font-weight: bold;
}

.inputForm, textarea {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: #f8f4e5;
  padding-left: 5px;
  outline: none;
}

input:focus, textarea:focus {
  border: 1px solid #6bd4b1;
}

textarea {
  resize: none;
}

.formBtn {
  display: block;
  line-height: 24pt;
  padding: 0 20px;
  border: none;
  background: var(--second-color);
  color: black;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;
}

.formBtn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
.formBtn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }

.paddingLavoro {
    padding-bottom: 50px;
}


/* footer */

.wrapperFooter {
    width: 100%;
    max-width: 1230px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.footer-hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-contact {
    width: 100%;
    max-width: 605px;
}

.heading-h2-v2 {
    position: relative;
    z-index: 1;
    color: var(--veryLightGray);
    font-size: 40px;
    line-height: 1.2em;
    padding-top: 30px;
}

.gap-top-35 {
    margin-top: 35px;
    color: transparent;
}

.w-form {
    margin: 0 0 15px;
}


.footer-avatar {
    margin-right: 37px;
    margin-bottom: 25px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-top: 100px;
}

.footer-content {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-grid {
    display: flex;
    width: 100%;
    max-width: 610px;
    justify-content: space-between;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.footer-link-2 {
    display: block;
    margin-bottom: 10px;
    font-family: Inter,sans-serif;
    color: var(--veryLightGray);
    font-size: 16px;
    text-decoration: none;
}

.social-wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    color: var(--veryLightGray);
}

.sectionFooter {
    background: #484848;
}

@media screen and (max-width: 996px){
    .swiper-slide {
        width: 35%;
    }
}

@media screen and (max-width: 780px){
    .swiper-slide {
        width: 45%;
    }
}

@media screen and (max-width: 470px){
    .swiper-slide {
        width: 55%;
    }
}


@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 20%;
     
    }
    .header p {
        width: 30%;
    }
    
}

@media (min-width: 768px) {
    .searchBtn {
      min-width: 120px;
      padding: 0 25px;
    }
  }

@media (max-width: 450px) {
    .box {
        height: 200px;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}
